<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.duckG.member.mapper.MemberMapper">

	<!-- 로그인 -->
	<select id="LoginCheck" parameterType="com.duckG.vo.MemberVO" resultType="com.duckG.vo.MemberVO">
		select member_id, member_pw 
		from member 
		where member_id = #{memberId} 
		and member_pw = #{memberPw}
	</select>
	
	<!-- 회원가입 -->
	<insert id="addMember" parameterType="com.duckG.vo.MemberVO">
		insert into member(member_no, member_id, member_pw, member_name) 
		values(member_seq.nextval, #{memberId}, #{memberPw}, #{memberName})
	</insert>
	
	<select id="updateMemberfind" parameterType="com.duckG.vo.MemberVO" resultType="com.duckG.vo.MemberVO">
		select *
		from member
		where member_id = #{memberId}
	</select>
	 
	<update id="updateMemberFin" parameterType ="com.duckG.vo.MemberVO" >
		update member
		set    member_name = #{memberName},
		       phone = #{phone},
		       email = #{email},
		       address  = #{address}
		where  member_id = #{memberId}
	</update>
	
	<select id="pwdb" parameterType="com.duckG.vo.MemberVO" resultType="com.duckG.vo.MemberVO">
        select member_pw
        from   member
        where  member_id = #{memberId}
	</select>
 
 	<update id="updatpw" parameterType ="com.duckG.vo.MemberVO" >
		update member
		set    member_pw = #{memberPw}
		where  member_id = #{memberId}
	</update>
</mapper>
