<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.duckG.review.mapper.ReviewMapper">

	<select id="selectReview" resultType="com.duckG.vo.ReviewVO">
		select *
		from review
		where product_no = #{productNo}
	</select>

 	<insert id="AddReview" parameterType="com.duckG.vo.ReviewVO">
		insert into review (review_no,
                    product_no,
                    member_id,
                    review_content,
                    review_score,
                    review_image)
		values (review_seq.nextval,
    			#{productNo},
      		  	#{memberId},
      		  	#{reviewContent},
        		#{reviewScore},
       		 	#{reviewImage})
	</insert> 
	
	<select id="lastestReview" resultType="com.duckG.vo.ReviewVO">
		select rownum rn,
		        a.* 
		from    (select *
		        from review 
		        order by create_date desc) a
		         <![CDATA[
		where rownum < 10;
		]]>
	</select>
	
</mapper>