<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<properties resource="config/db.properties" />

	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="com/duckG/cart/mapper/CartMapper.xml" />
		<mapper resource="com/duckG/jjim/mapper/JjimMapper.xml" />
		<mapper resource="com/duckG/member/mapper/MemberMapper.xml" />
		<mapper resource="com/duckG/order/mapper/OrderMapper.xml" />
		<mapper resource="com/duckG/product/mapper/ProductMapper.xml" />
		<mapper resource="com/duckG/qna/mapper/QnAMapper.xml" />
		<mapper resource="com/duckG/review/mapper/ReviewMapper.xml" />
	</mappers>

</configuration>