<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.duckG.order.mapper.OrderMapper">
  
 	<select id ="OrderList" parameterType ="String" resultType="com.duckG.vo.OrderVO">
 		select *
		from ordered
		where member_id = #{id}
	</select>
</mapper>