<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.duckG.cart.mapper.CartMapper">


	<select id="cartList" resultType="com.duckG.vo.CartVO">
		select
			p.image as image,
			p.product_name as productName,
			p.price as price,
			c.count as count
		from cart c left outer JOIN product p
		ON c.product_no = p.product_no
		where c.member_id = #{memberId}
	</select>

	<delete id="deleteCart">
		delete cart
		where cart_no = #{cartNo}
	</delete>

	<update id="modifyCart">
		update cart
		set count = #{count}
		where cart_no =	#{cartNo}
		and member_id = #{memberId}
	</update>

	<select id="checkCart" resultType="com.duckG.vo.CartVO">
		select *
		from cart
		where member_id = #{memberId}
		and product_no = #{productNo} 
	</select>
	
	<insert id="addCart">
		INSERT INTO cart 
		VALUES (CART_SEQ.nextval, #{productNo}, #{memberId}, #{count});
	</insert>


</mapper>